<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">See All</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="chopper-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Choppers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="chopper-link">
                <a href="{% url 'products' %}?category=classicchopper" class="dropdown-item">Classic</a>
                <a href="{% url 'products' %}?category=customchopper" class="dropdown-item">Custom</a>
                <a href="{% url 'products' %}?category=customchopper,classicchopper" class="dropdown-item">All Choppers</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="bicycle-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bicycles
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="bicycle-link">
                <a href="{% url 'products' %}?category=classic" class="dropdown-item">Classic</a>
                <a href="{% url 'products' %}?category=custom" class="dropdown-item">Custom</a>
                <a href="{% url 'products' %}?category=classic,custom" class="dropdown-item">All Bicycles </a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="extras-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Extras
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="extras-link">
                <a href="{% url 'products' %}?category=activewear" class="dropdown-item">Hoodies</a>

                

                <a href="{% url 'products' %}?category=shirts" class="dropdown-item">Shirts</a>

                 <a href="{% url 'products' %}?category=helmets" class="dropdown-item">Helmets</a>

                <a href="{% url 'products' %}?category=activewear,shirts,helmets" class="dropdown-item">All Extras</a>
            </div>
        </li>
       <li class="nav-item dropdown">
           
        <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'newshome' %}" id="newshome-link" aria-haspopup="true" aria-expanded="false">
                News
            </a>
        </li>

   <li class="nav-item dropdown">
           
        <a class="logo-font font-weight-bold nav-link text-black  mr-5" href="{% url 'blog' %}"id="blog-link" aria-haspopup="true" aria-expanded="false">
                Blog
            </a>
        </li>
       
    </ul>
</div>