{% extends "base.html" %} {% load static %} {% block page_header %}


{% endblock %} {% block content %}
 {% if request.user.is_superuser %}
<div class="overlay"></div>

<div class="container">
  <div class="row">
    <div class="col text-center">
        <h2 class="logo-font text-center text-success">Add Category</h2>
        <div class="form-group">
        <form method="POST">
            {% csrf_token %} {{ form.as_p }}
            <button class="btn btn-sm font-weight-bold rounded-0 btn-outline-light text-white">Add Category</button>
            <a href="{% url 'blog' %}" class="btn btn-sm font-weight-bold rounded-0 btn-outline-light text-white">Back</a>
        </form>
      </div>
    </div>
  </div>
  
  {% endif %}
  {% endblock %}
