{% extends "base.html" %} {% load static %} {% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} {% block content %}
{% if user.is_authenticated %}
<div class="overlay"></div>
<div class="container">
  <div class="row">
    <div class="col text-center mt-3">
        <h2 class="logo-font text-center">Add Post</h2>
        <div class="form-group">
        <form method="POST">
            {% csrf_token %} {{ form.as_p }}
            <button class="btn btn-secondary">POST</button>
        </form>
      </div>
    </div>
  </div>

  <script>
        var name = "{{ user.id }}";
        document.getElementById("elder").value = name;
  </script>
  {% else %}

  <h4>You need to  be logged in to post something</h4>
  {% endif %}
  {% endblock %}
</div>
