{% extends "base.html" %} {% load static %} {% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} {% block content %}

<div class="overlay"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col text-center mt-3">
      <h2 class="logo-font text-center">{{ post.title }}</h2>
      <hr class="w-50 mb-1" />
    </div>
  </div>
  <div class="row">
    <div class="col text-center mt-3">
      <div class="blog-container offset-1">
        <p>By:
         {{ post.author}} - {{ post.post_date }} - 
         {% if user.is_authenticated %}
         <a href="{% url 'update_post' post.pk %}">Edit</a></p>
        <a href="{% url 'delete_post' post.pk %}">Delete</a>
        {% endif %}
        {{ post.body }}
        <br />
        <a href="{% url 'blog' %}" class="btn btn-secondary">Back</a>
        <hr class="w-50 mb-1" />
      </div>
    </div>
  </div>
</div>
 
  
  {% endblock %}
