{% extends "base.html" %} {% load static %} {% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} {% block content %}

<div class="overlay"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col text-center mt-3">

      <h2 class="logo-font text-center">{{ post.title }}</h2>
      <hr class="w-50 mb-1" />
    </div>
  </div>
  <div class="row">
    <div class="col text-center mt-3">
      <div class="blog-container offset-1">
        By:
         {{ post.author}} - {{ post.author.first_name }} - {{ post.author.last_name }} - {{ post.post_date }}
         {% if user.is_authenticated %}
         {% if user.id == post.author.id %}
         <a href="{% url 'update_post' post.pk %}">Edit</a>
         <br>
        <a href="{% url 'delete_post' post.pk %}">Delete</a>
        {% endif %}
        {% endif %}
        {{ post.body|safe  }}
        <br/>
        <a href="{% url 'blog' %}" class="btn btn-secondary">Back</a>
        <br>
        <br>
        <form action="{% url 'like_post' post.pk %}" method="POST">

       {% csrf_token %}

     {% if user.is_authenticated %}
     {% if user.id != post.author.id %}
               

                    <button type="submit"  name="post_id" value="{{ post.id }}" class="btn btn-primary"> Like </button>
            
   {% endif %}
     {% else %}
                <a href="{% url 'account_login' %}" class="dropdown-item">Login  </a>
                
                To Like
    {% endif %}
    <br>
        {{ post.total_likes  }} - Likes
        </form>
        <br>
        <br>
   







        <br>
        <br>

        <hr class="w-50 mb-1" />
      </div>
    </div>
  </div>
</div>
{% endblock %}