{% extends "base.html" %} {% load static %} {% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} {% block content %}

<div class="overlay"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col text-center mt-3">
      <h2 class="logo-font text-center">Blog</h2>
      <a class="nav-link" href="{% url 'add_post' %}">Add Post</a>
      <hr class="w-50 mb-1" />
    </div>
  </div>
  <div class="row">
    <div class="col text-center mt-3">
      <div class="blog-container offset-1">
        {% for post in object_list %}
     
        <div class="col-12">
          <div class="mb-0">
            <a href="{% url 'article-detail' post.pk %}"
              ><h2>{{ post.title }} {{ post.author.first_name }}</h2></a
            >
            <div class="mb-1">{{ post.author.last_name }}    <a href="{% url 'update_post' post.pk %}">Edit</a></div>

<a href="{% url 'delete_post' post.pk %}">Delete</a>

            <div class="mb-1">By: {{ post.author.email }} - {{ post.post_date }} -</div>
            <br>
            <div class="mb-1">{{ post.body }}</div>
          </div>
        </div>
       
        <hr class="w-50 mb-1" />
        {% endfor %}
      </div>
    </div>
  </div>
  {% endblock %}
</div>
