{% extends "base.html" %}
 {% load static %} 


<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
 {% block content %}

{% if user.is_authenticated %}
<div class="overlay"></div>
<div class="container">
  <div class="row">
    <div class="col text-center mt-3">
        <h2 class="logo-font text-center">Edit Post</h2>
        <div class="form-group">
        <form method="POST">
            {% csrf_token %} {{ form.as_p }}
              <div class="mb-1">By: {{ post.author.email }} - {{ post.author.first_name }} - {{ post.post_date }} -</div>
            <br>
            
            <div class="mb-1">{{ post.body|slice:":200"|safe }}</div>
            <button class="btn btn-secondary">Update</button>
        </form>
      </div>
    </div>
  </div>
  {% else %}

  <h4>You need to  be logged in to edit post</h4>
  {% endif %}
  {% endblock %}
</div>
