{% extends "base.html" %} {% load static %} {% block page_header %}
{% load crispy_forms_tags %}

{% endblock %} {% block content %}
 
<div class="overlay"></div>
<div class="container">
  <div class="row">
    <div class="col text-center">
    {% if request.user.is_superuser %}
        <h3 class="text-success">Add News</h3>
      
      <form method="POST" enctype="multipart/form-data">
            {% csrf_token %} {{ form|crispy}}
            {{ form.media }}
            <button class="btn btn-sm font-weight-bold rounded-0 btn-outline-light text-white">POST</button>
            <br>
            <br>
            <a href="{% url 'newshome' %}" class="btn btn-sm font-weight-bold rounded-0 btn-outline-light text-white">BACK</a>
        </form>
     
        {% endif %}
    </div>
  </div>
</div>
{% endblock %}

