{% extends "base.html" %} {% load static %} {% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} {% block content %}
 
<div class="overlay"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col text-center mt-3">
    {% if request.user.is_superuser %}
        <h3>Add News</h3>
        <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
       
         <button>Add News</button>
        </form>
        {% endif %}
    </div>
  </div>
</div>

               

  {% endblock %}

