{% extends "base.html" %} {% load static %} {% block page_header %}
<div class="container">
        <div class="row">
            <div class="col">
            <h3 class="text-center text-success">News</h3>
            </div>
        </div>
</div>
{% endblock %} {% block content %}
<div class="overlay"></div>
<div class="container-fluid news_container">
  <div class="row">
         {% for post in object_list %}
               <div class="col-md-6 text-center p-2">
 
                   <h3>{{ post.title }}</h3>
                   <br>
                <p class="text-center">{{ post.body }}</p>   
                   <br>
             By: {{ post.author }}
               <br>
               <br>
               Post Dated: {{ post.date_added }}
     
           {% if request.user.is_superuser %}
              <br>
              <br>
           <a href="{% url 'addnew' %}" class="btn btn-sm font-weight-bold rounded-0 btn-outline-light text-white">Add News</a>
              <br>
              <br>
           <a href="{% url 'deletenews' post.pk %}" class="btn btn-sm font-weight-bold rounded-0 btn-outline-light text-white">Delete News</a>
           {% endif %} 
        
              </div>

    <div class="col-md-6 p-2">
          <img src="{{ post.image.url }}">
     </div>
{% endfor %}

  </div>
</div>

<br>
{% endblock %}