{% extends "base.html" %} {% load static %} {% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} {% block content %}

<div class="overlay"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col text-center mt-3">
     
        <h3>News</h3>
        <br>
         {% if request.user.is_superuser %}
     
     <br>
      
  {% endif %}
        {% for post in object_list %}
     
           {{ post.title }}
            <br>
            {{ post.author }}
            <br>
            {{ post.body }}
            <br>
            <!---- {{ post.image_url }} --->
            <br>
            <!--{{ post.image }} -->
            <br>
            {{ post.date_added }}
            <br>
            
            <a href="{% url 'deletenews' post.pk %}" class="btn btn-danger btn-sm">Delete</a>
            <hr>
{% endfor %}
<a href="{% url 'addnew' %}" class="btn btn-success btn-sm">Add News</a>
    </div>
  </div>
</div>
{% endblock %}

