{% extends "base.html" %} {% load static %} {% block page_header %}
<div class="container text-center p-1">
        <div class="row">
            <div class="col">
            <h3 class="text-center text-success">News</h3>
{% if request.user.is_superuser %}
<br>    
            <a href="{% url 'addnew' %}" class="btn btn-sm font-weight-bold rounded-0 btn-outline-light text-white ">Add News</a>
<br>
<br>
{% endif %}
        </div>
     </div>
</div>
{% endblock %} {% block content %}
<div class="overlay"></div>
    <div class="container news_container text-center">
        <div id="#top" class="row">
{% for post in object_list %}
           <div class="col">
                <h3>{{ post.title }}</h3>
                        <p class="text-center font-italic">{{ post.body }}</p>    <br>
    <img src="{{ post.image.url }}" class="rounded mx-auto d-block w-100">
                          <br>
    <i class="fas fa-user-edit"></i> {{ post.author }}
<br>
<br>
    <i class="fas fa-clock"></i> {{ post.date_added }}
<br>
{% if request.user.is_superuser %}
<br>
<a href="{% url 'deletenews' post.pk %}" class="btn btn-sm font-weight-bold rounded-0 btn-outline-light text-white">Delete News</a>                      
{% endif %} 
{% endfor %}
<br>
   
      </div>
     </div>
</div>
<br>
<br>
<div class="container text-center">
  <div class="row">
     <div class="col">
<a  href="#top"><i class="fas fa-arrow-circle-up" style="color:green"></i></a>
      </div>
    </div>
</div>
<br>
<hr>
<br>
{% endblock %}